@import '_vars.scss';

.card {
    padding: 25px;
    background-color: $main-color;
    margin: 15px;
    min-width: 80px;
    min-height: 80px;
    border-radius: 15px;

    .card-inner{
        display: flex;
        flex-direction: column;

        .card-remove{
            font-size: 15px;
            font-weight: bold;
            color: rgb(255, 9, 9);
            cursor: pointer;
        }

        .card-text {
            color: #fff;
            font-family: sans-serif;
            font-size: 22px;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
        }


    }
}